@import url("https://fonts.googleapis.com/css2?family=Borel&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&family=Playfair+Display:wght@600&family=Roboto+Mono:ital@1&family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "MD Sans", sans-serif;
  @apply text-gray-500;
}
